.footer {
  padding: 5rem 12.5rem;
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  background: #5d6273;
  color: #fff;

  flex-direction: column;
  font-family: Noto Sans;

  .pagination {
    display: flex;
    justify-content: center;
    letter-spacing: 0.3rem;
    line-height: 160%;
    font-weight: 600;
    gap: 6rem;
  }
  .bottom-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .icons {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
  }
  .horizontal-bar {
    height: 0.25rem;
    background: #fff;
  }
  .copyright {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.0375rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 4rem 0rem;
    gap: 2.5rem;

    .pagination {
      flex-direction: column;
      align-items: center;
      letter-spacing: 0.3rem;
      gap: 1.5rem;
    }
    .bottom-footer {
      gap: 1rem;
    }
    .horizontal-bar {
      width: 18.75rem;
      height: 0.125rem;
      align-self: center;
    }
    .icons {
      gap: 1.5rem;
    }
    .icon-svg {
      width: 2.5rem;
    }
  }
}
